<div class="panel panel-info">
	<div class="panel-heading">
		<div class="row">
			<div class="col-sm-6">
				Certificate of Registration
			</div>
			<div class="col-sm-6 text-right">
				SY: <strong>{{meta.sy}}</strong>
				SEM: <strong>{{meta.sem}}</strong>
			</div>
		</div>
	</div>
	<div class="panel-body">
		<form role="form">
			<fieldset>
				<div class="form-group">
					<div class="row">
						<div class="col-sm-3">
							<label>STUDENT ID:</label>
							{{input value=meta.studid class="form-control" disabled="disabled"}}
						</div>
						<div class="col-sm-9">
							<label>NAME:</label>
							{{input value=meta.studfullname class="form-control" disabled="disabled"}}
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="col-sm-3">
							<label>COURSE:</label>
							{{input value=meta.studmajor class="form-control" disabled="disabled"}}
						</div>
						<div class="col-sm-3">
							<label>YEAR:</label>
							{{input value=meta.studlevel class="form-control" disabled="disabled"}}
						</div>
					</div>
				</div>
			</fieldset>
			<hr>
			<div>
				{{#link-to 'assesments.assesment' meta.studid class="btn btn-info"}}<i class="fa fa-fw fa-money"></i> View Assessment{{/link-to}}
				<button type="button" class="btn btn-warning" {{action 'toprint' 'print.grades' params}}><i class="fa fa-fw fa-print"></i> Print Grades</button>
				<button type="button" class="btn btn-warning" {{action 'toprint' 'print.finalcor' params}}><i class="fa fa-fw fa-print"></i> Print COR</button>
			</div>
		</form>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		Registered Subjects
	</div>
	<div class="panel-body">
		<table class="table table-condensed table-bordered table-hover">
			<thead>
				<tr>
					<th width="20%">Code</th>
					<th width="10%">Section</th>
					<th>Subject Description</th>
					<th class="text-center" width="7%">Lec</th>
					<th class="text-center" width="7%">Lab</th>
					<th class="text-center" width="7%">MT</th>
					<th class="text-center" width="7%">FT</th>
					<th class="text-center" width="7%">FG</th>
					<th class="text-center" width="7%">Re-Ex</th>
				</tr>
			</thead>
			<tbody>
				{{#each subj}}
				<tr {{bind-attr class="isEmpty"}}>
					<td>
						{{#link-to 'grades.grade' subjcoded section}}
							{{subjcode}}
						{{/link-to}}
					</td>
					<td>{{section}}</td>
					<td>{{subjdesc}}</td>
					<td class="text-center">{{subjlec_units}}</td>
					<td class="text-center">{{subjlab_units}}</td>
					<td class="text-center">{{fail-grade prelim1}}</td>
					<td class="text-center">{{fail-grade prelim2}}</td>
					<td class="text-center">{{fail-grade grade}}</td>
					<td class="text-center">{{fail-grade gcompl}}</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
		<hr>
		<div class="row">
			<div class="col-sm-6">
				TOTAL LOAD UNITS: <strong>{{meta.units}}</strong>
			</div>
			<div class="col-sm-6 text-right">
				GPA: <strong>{{studgpa}}</strong>
			</div>
		</div>
	</div>
</div>