<div class="page-header">
	<h3><i class="fa fa-angle-right"></i> Certificate of Billing (! Working in Progress DO NOT USE YET.)
		<small>Retrieves the certificate of billing of a student.</small>
	</h3>
</div>

<div class="row">
	<div class="col-md-3">
		<form class="form-inline text-right" role="form" {{action 'lookup' on='submit'}}>
			<div class="form-group">
				<div class="input-group">
					{{input value=stud placeholder="Student ID / Last Name" class="form-control" autofocus="autofocus"}}
					<span class="input-group-btn">
						{{submit-spin saveText='Lookup' disabled=disb isProc=g.isProc}}
					</span>
				</div>
			</div>
		</form>

		{{#if data}}
			<hr>
			<div class="list-group">
				{{#each data}}
					{{#link-to 'certbilling.stud' studid class="list-group-item list-group-item-warning"}}
						<small>{{studid}} - {{studfullname}}</small>
					{{/link-to}}
				{{/each}}
			</div>
		{{/if}}		
	</div>
	<div class="col-md-9">
		{{outlet}}
	</div>
</div>