<div class="page-header">
	<h3><i class="fa fa-angle-right"></i> Report of Collections
		<small>Retrieves collection details</small>
	</h3>
</div>

<div class="row">
	<div class="col-md-3">
		<div class="panel panel-default">
			<div class="panel-heading">Report from</div>
			<div class="panel-body">
				<form role="form" {{action 'preview' on="submit"}}>
					<div class="form-group">
						<label>Get collection from:</label>
						<div class="checkbox">
							<label>
								{{input type='checkbox' checked=cashier}} Cashier Collections
							</label>
						</div>
						<div {{bind-attr class='cashier:hide'}}>
							{{#if bcodes}}
								{{view Ember.Select
									content=bcodes
									optionValuePath='content.bcode'
									optionLabelPath='content.desc'
									value=bcode
									selection=sbcode
									class='form-control'}}
							{{/if}}
						</div>
					</div>
					<div class="form-group">
						<label>Date From:</label>
						{{input value=datefrom class="form-control" placeholder="YYYY-MM-DD"}}
					</div>
					<div class="form-group">
						<label>Date To:</label>
						{{input value=dateto class="form-control" placeholder="YYYY-MM-DD"}}
					</div>
					<div class="form-group">
						<label>Fund:</label>
						{{view Em.Select
							content=funds
							optionValuePath="content.v"
							optionLabelPath="content.name"
							value=fund
							class="form-control"}}
					</div>
					<div class="form-group text-center">
						<hr>
						{{submit-spin saveText='View Report' disabled=disb isProc=g.isProc btnClass='btn-info btn-block'}}
						{{button-spin action='export' saveText='Export details to Excel' disabled=disb isProc=g.isProc btnClass="btn-warning btn-block"}}
						<a {{bind-attr href="tlink"}} target="_blank" class="btn btn-link">Download Template Here.</a>
					</div>
				</form>
			</div>
		</div>	
	</div>
	<div class="col-md-9">
	{{#if res}}
		<div class="hide">
			{{to-print to='print.collections' p=details.studid act='toprint'}}
			<button {{action 'test'}} class="btn btn-default">Test</button>
			<hr>
		</div>
		<h3>Summary of Collection</h3>
		<table class="table table-condensed table-bordered">
			<tbody>
				<tr>
					<td width="18%">Collection From:</td>
					<td>
						<strong>
							{{#if cashier}}
								Cashier Collections
							{{else}}
								{{sbcode.desc}}
							{{/if}}
						</strong>
					</td>
				</tr>
				<tr>
					<td>Date Range:</td>
					<td><strong>{{format-date datefrom ''}} - {{format-date dateto ''}}</strong></td>
				</tr>
				<tr>
					<td>Fund:</td>
					<td><strong>{{fund}}</strong></td>
				</tr>
			</tbody>
		</table>
		<hr>
		<table class="table table-condensed table-hover">
			<thead>
				<tr>
					<th>&nbsp;</th>
					<th>Fee Code</th>
					<th>Description</th>
					<th>Account Code</th>
					<th class="text-right">Amount (Php)</th>
				</tr>
			</thead>
			<tbody>
				{{#each res.data}}
				<tr>
					<td>{{num}}.</td>
					<td>{{feecode}}</td>
					<td>{{feedesc}}</td>
					<td>{{acctcode}}</td>
					<td class="text-right">{{format-currency amount}}</td>
				</tr>
				{{/each}}
			</tbody>
			<tfoot>
				<tr>
					<th colspan="4" class="text-right">Total:</th>
					<th class="text-right">{{format-currency res.meta.total}}</th>
				</tr>
			</tfoot>
		</table>
	{{/if}}
	</div>
</div>