<div class="page-header">
	<h3><i class="fa fa-angle-right"></i> Note Payment
		<small>Receives Payment aside from the cashier mode.</small>
	</h3>
</div>
<div class="row">
	<div class="col-md-3">
		{{partial 'partials/lookup-stud'}}
		{{#if studlist}}
			<hr>
			<div class="list-group">
				{{#each studlist}}
					<a {{action 'qStudSelect' studid}} href="#" class="list-group-item list-group-item-warning">
						<small>{{studid}} - {{fullname}}</small>
					</a>
				{{/each}}
			</div>
		{{/if}}
	</div>
	<div class="col-md-9">
		<div class="panel panel-info">
			<div class="panel-heading">Note Payment</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-6">
						<button type="button" class="btn btn-info" {{action 'new'}}><i class="fa fa-fw fa-cube"></i> New Payment</button>
						<button type="button" class="btn btn-danger" {{action 'deleteP'}} {{bind-attr disabled="not_succ"}}><i class="fa fa-fw fa-trash-o"></i> Delete Payment</button>
					</div>
					<div class="col-sm-6 text-right">
						{{button-spin action="submit" saveText='Save Payment' disabled=disb isProc=g.isProc btnClass="btn-warning"}}
						<button type="button" {{action 'cancel'}} class="btn btn-default">Cancel</button>
					</div>
				</div>
				<hr>
				<form role="form">
					<fieldset {{bind-attr disabled="succ"}}>
						<div class="form-group">
							<div class="row">
								<div class="col-sm-3">
									<label>REFERENCE #:</label>
									{{input value=refno class="form-control" autofocus="autofocus"}}
								</div>
								<div class="col-sm-3">
									<label>BCODE:</label>
									{{#if bcodes}}
										{{view Ember.Select
											content=bcodes
											optionValuePath='content.bcode'
											optionLabelPath='content.desc'
											value=bcode
											class='form-control'}}
									{{/if}}
								</div>
								<div class="col-sm-3">
									<label>DATE: (YYYY-MM-DD)</label>
									{{input value=currentDate class="form-control"}}
								</div>
								<div class="col-sm-2">
									<label>SY:</label>
									{{input value=sy class="form-control" disabled="disabled"}}
								</div>
								<div class="col-sm-1">
									<label>SEM:</label>
									{{input value=sem class="form-control" disabled="disabled"}}
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-sm-2">
									<label>STUDENT ID:</label>
									{{input value=id class="form-control" action="searchId" disabled="disabled"}}
								</div>
								<div class="col-sm-6">
									<label>PAYEE:</label>
									{{input value=payee class="form-control"}}
								</div>
								{{#if studid}}
								<div class="col-sm-4">
									<label>&nbsp;</label>
									<div><button type="button" class="btn btn-info btn-block" {{action 'loadUnpaid'}}>
										<i class="fa fa-cloud-download"></i> Load Unpaid Assessment
									</button></div>
								</div>
								{{/if}}
							</div>
						</div>
						<hr>
							<label>Add Fee:</label>
							<div {{bind-attr class='succ:hide'}}>
								{{#if fees}}
									{{view 'selectize' 
										placeholder="Type Fee Code" 
										value=feecode 
										opt=fees}}
								{{/if}}
							</div>
							<div {{bind-attr class='not_succ:hide'}}>
								<input type="text" class="form-control" placeholder="Type Fee Code">
							</div>
						<hr>
						<div class="form-group">
							<table class="table table-condensed table-striped">
								<thead>
									<tr>
										<th>CODE</th>
										<th>DESCRIPTION</th>
										<th class="text-right">ACCT-CODE</th>
										<th width="100" class="text-right">AMOUNT (Php)</th>
										<th width="10">&nbsp;</th>
									</tr>
								</thead>
								<tbody>
									{{#each data}}
									<tr>
										<td>{{feecode}}</td>
										<td>{{feedesc}}</td>
										<td class="text-right">{{acctcode}}</td>
										<td class="text-right">
											{{input class="form-control input-sm text-right" value=amt}}
										</td>
										<td>&nbsp;
											{{#if succ}}
											<button type="button" {{action 'delete' this}} class="btn btn-sm btn-danger"><i class="fa fa-trash-o"></i></button>
											{{/if}}
										</td>
									</tr>
									{{/each}}
									<tr class="warning">
										<td colspan="3" class="text-right"><strong>TOTAL:</strong></td>
										<td class="text-right"><strong>{{format-currency total}}</strong></td>
										<td>&nbsp;</td>
									</tr>
								</tbody>
							</table>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
		<hr>
		<div class="panel panel-default">
			<div class="panel-heading">Search Payment</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-5">
						{{partial 'partials/lookup-thing'}}
					</div>
					<div class="col-sm-7">
						{{#if sr}}
							<hr>
							<div class="list-group">
								{{#each sr}}
									<a {{action 'select' refno}} href="#" class="list-group-item list-group-item-warning">
										<small>{{studid}} - {{payee}} ({{refno}})</small>
										<span class="pull-right"> {{format-currency amt}} </span>
									</a>
								{{/each}}
							</div>
						{{/if}}
					</div>
				</div>
			</div>
		</div>	
	</div> <!-- /.col-sm-9 -->
</div>