<div class="page-header">
	<h3><i class="fa fa-angle-right"></i> Refund
		<small>Refund module.</small>
	</h3>
</div>

<div class="row">
	<div class="col-md-3">
		{{partial 'partials/lookup-stud'}}
		{{#if studlist}}
			<hr>
			<div class="list-group">
				{{#each studlist}}
					<a {{action 'checkRefund' studid}} href="#" class="list-group-item list-group-item-warning">
						<small>{{studid}} - {{fullname}}</small>
					</a>
				{{/each}}
			</div>
		{{/if}}
	</div>
	<div class="col-md-9">
		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="row">
					<div class="col-sm-6">
						Refund
					</div>
					<div class="col-sm-6 text-right">
						SY: <strong>{{sy}}</strong>
						SEM: <strong>{{sem}}</strong>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<form role="form">
					<fieldset {{bind-attr disabled="succ"}}>
					<div class="form-group">
						<div class="row">
							<div class="col-sm-3">
								<label>STUDENT ID:</label>
								{{input value=studid class="form-control" disabled="disabled"}}
							</div>
							<div class="col-sm-9">
								<label>NAME:</label>
								{{input value=payee class="form-control" disabled="disabled"}}
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-sm-3">
								<label>REFERENCE #:</label>
								{{input value=refno class="form-control"}}
							</div>
							<div class="col-sm-3">
								<label>DATE: (YYYY-MM-DD)</label>
								{{input value=currentDate class="form-control"}}
							</div>
							<div class="col-sm-6">
								<label>REMARKS:</label>
								{{textarea value=remarks class="form-control"}}
							</div>
						</div>
					</div>
					</fieldset>
				</form>
				<hr>
				<div class="row">
					<div class="col-sm-9 text-center">
						<h2 class="no-margin no-padding"><small>Php</small> {{format-currency amt}}</h2>
						<small class="text-muted">REFUND</small>
					</div>
					<div class="col-sm-3">
						{{button-spin action="issue" saveText='Issue Refund' disabled=disbissue isProc=g.isProc btnClass="btn-info btn-block"}}
						<button type="button" class="btn btn-danger btn-block" {{action 'delete'}} {{bind-attr disabled="not_succ"}}><i class="fa fa-fw fa-trash-o"></i> Delete Refund</button>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="panel panel-default">
			<div class="panel-heading">Search Refunds</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-5">
						{{partial 'partials/lookup-thing'}}
					</div>
					<div class="col-sm-7">
						{{#if sr}}
							<hr>
							<div class="list-group">
								{{#each sr}}
									<a {{action 'select' refno}} href="#" class="list-group-item list-group-item-warning">
										<small>{{studid}} - {{payee}} ({{refno}}) - {{paydate}}</small>
										<span class="pull-right"> {{format-currency amt}} </span>
									</a>
								{{/each}}
							</div>
						{{/if}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>