<footer id="ff">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div id="footer">
					<div class="row">
						<div class="col-md-6">
							<small class="text-muted">Copyright &copy; 2014. Developed by: <a href="mailto:melvinsoldia@gmail.com">Melvin Soldia</a></small>
						</div>
						<div class="col-md-6 text-right">
							<small class="text-muted">eSMS BISU v{{version}}</small>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>

<div class="modal fade" id="mod-sem" tabindex="-1" role="dialog" aria-labelledby="Semester" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<form class="modal-content" {{action 'changeSem' on='submit'}}>
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Change Semester</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-8">
						<div class="form-group">
							<label for="sy">School Year:</label>
							{{input class="form-control" value=sy autofocus="autofocus"}}
						</div>						
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label for="sem">Semester:</label>
							{{input class="form-control" value=sem}}
						</div>						
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				{{submit-spin saveText='Save Changes' disabled=disb isProc=g.isProc}}

			</div>
		</form>
	</div>
</div>