<div class="row border-bottom wrapper white-bg page-heading">
	<div class="col-md-8">
		<div class="toolbar">
			{{#link-to 'bcodes.index' class="btn btn-default"}}
				{{fa-icon "chevron-left"}}
			{{/link-to}}
		</div>
	</div>
	<div class="col-md-4">
		<div class="toolbar text-right">
			<div class="btn-group">
				<button class="btn btn-default">{{fa-icon "check-circle"}} Save</button>
				<button class="btn btn-default">{{fa-icon "check-circle-o"}}</button>
				<button class="btn btn-danger">{{fa-icon "trash-o"}}</button>
			</div>
		</div>
	</div>
</div>
<div class="row animated fadeIn">
	<div class="col-md-12">
		<div class="wrapper-content">
			<div class="ibox">
				<div class="ibox-title">
					<h5>Add New B-Code</h5>
				</div>
				<div class="ibox-content">
					<form>
						<div class="form-group">
							<label>Code <span class="required">*</span></label>
							{{input value=code class="form-control"}}
						</div>
						<div class="form-group">
							<label>Description</label>
							{{textarea value=desc class="form-control"}}
						</div>
						<div class="form-group">
							<label>Date:</label>
							{{date-picker date=mydate valueFormat="YYYY-MM-DD"}}
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>