<table class="table borderless table-condensed pre">
	<tbody>
		<tr>
			<td width="15%">Student Name</td>
			<td>: <strong>{{h.studid}} - {{h.studfullname2}}</strong></td>
		</tr>
		<tr>
			<td width="15%">Course &amp; Year</td>
			<td>: <strong>{{h.studmajor}} - {{h.studlevel}}</strong></td>
		</tr>
		<tr>
			<td width="15%">School Year</td>
			<td>: <strong>SY: {{h.sy}} Sem: {{h.sem}}</strong></td>
		</tr>
	</tbody>
</table>
<div class="row">
	<div class="col-xs-4">
		<table class="table borderless table-condensed pre">
			<thead>
				<tr>
					<th>SUBJECTS</th>
					<th class="text-right">LEC</th>
					<th class="text-right">LAB</th>
					<th class="text-right">UNIT</th>
				</tr>
			</thead>
			<tbody>
				{{#each s}}
				<tr>
					<td>{{subjcodedsp}}</td>
					<td class="text-right">{{subjlec_units}}</td>
					<td class="text-right">{{subjlab_units}}</td>
					<td class="text-right">{{subjcredit}}</td>
				</tr>
				{{/each}}
				<tr>
					<td>&nbsp;</td>
					<td colspan="2" class="text-center"><strong>Total</strong></td>
					<td class="text-right border-top"><strong>{{h.t_unit}}</strong></td>
				</tr>
			</tbody>
		</table>		
	</div>
	<div class="col-xs-7 col-xs-offset-1">
		<table class="table table-condensed borderless pre">
			<thead>
				<tr>
					<th colspan="4">School Fees:</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>&nbsp;</td>
					<td colspan="2">Tuition (P{{h.tuiamt}} per unit)</td>
					<td class="text-right">{{format-currency tui.amt}}</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td colspan="2">Registration Fee</td>
					<td class="text-right">{{format-currency reg.amt}}</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td colspan="2">Miscellaneous Fees:</td>
					<td class="text-right">{{format-currency h.t_misc}}</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td colspan="2">
						<table class="table table-condensed pre">
							<tbody>
								{{#each misc}}
								<tr>
									<td>&nbsp;</td>
									<td>{{feedesc}}</td>
									<td class="text-right">{{format-currency amt}}</td>
								</tr>
								{{/each}}
							</tbody>
						</table>
					</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td colspan="2">
						Laboratory (P{{h.labamt}}/subject)
					</td>
					<td class="text-right">{{format-currency lab.amt}}</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td colspan="2"><strong>TOTAL BILLING:</strong></td>
					<td class="text-right border-top"><strong>{{format-currency h.t_as}}</strong></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td colspan="2">Less: Payments</td>
					<td class="text-right">{{format-currency h.t_paid}}</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td colspan="2">
						<table class="table table-condensed borderless pre">
							<tbody>
								{{#each paid}}
								<tr>
									<td>&nbsp;</td>
									<td>{{ref}}</td>
									<td>{{paydate}}</td>
									<td class="text-right">{{format-currency amt}}</td>
								</tr>
								{{/each}}
							</tbody>
						</table>
					</td>
					<td>&nbsp;</td>
				</tr>
				{{#if refund}}
				{{#each refund}}
				<tr>
					<td>&nbsp;</td>
					<td colspan="2">Refund ({{ref}} - {{paydate}})</td>
					<td class="text-right">{{format-currency amt}}</td>
				</tr>
				{{/each}}
				{{/if}}
				<tr>
					<td>&nbsp;</td>
					<td colspan="2"><strong>BALANCE</strong></td>
					<td class="text-right border-top double"><strong>{{format-currency h.bal}}</strong></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>