<table class="table table-condensed table-bordered">
	<tbody>
		<tr>
			<td>Date Range:</td>
			<td><strong>{{format-date res.meta.datefrom ''}} - {{format-date res.meta.dateto ''}}</strong></td>
		</tr>
	</tbody>
</table>
<hr>
<table class="table table-condensed table-hover table-bordered">
	<thead>
		<tr>
			<th>&nbsp;</th>
			<th>Fee Code</th>
			<th>Description</th>
			<th>Account Code</th>
			<th class="text-right">Amount (Php)</th>
		</tr>
	</thead>
	<tbody>
		{{#each res.data}}
		<tr>
			<td>{{num}}.</td>
			<td>{{feecode}}</td>
			<td>{{feedesc}}</td>
			<td>{{acctcode}}</td>
			<td class="text-right">{{format-currency amount}}</td>
		</tr>
		{{/each}}
	</tbody>
	<tfoot>
		<tr>
			<th colspan="4" class="text-right">Total:</th>
			<th class="text-right">{{format-currency res.meta.total}}</th>
		</tr>
	</tfoot>
</table>